@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  background-color: #0d0d0e;
  font-family: "Montserrat";
  color: #fff;
}
.fetita{
  width: 50vw;
  position: absolute;
  right: 0;
  top:0;
  z-index: -1;
}
.header {
  display: flex;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 33px;
  justify-content: space-between;
}

.content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 33px;
}

.sb-btn {
  background: #ffffff;
  border-radius: 6px;
  color: #000000;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 6px;
  height: 16px;
  width: 16px;
}
.outline-btn {
  border: 1px solid #ffffff;
  border-radius: 8px;
  line-height: 34px;
  padding: 0 12px;
}
.patrate {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.box-mici {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 225px;
  height: 177px;
  background: #181818;
  border-radius: 12px;
}
.haltere {
  width: 85px;
}
.cirese {
  width: 48px;
}
.cantar {
  width: 46px;
}
.cantar-mare {
  width: 62.3px;
}
.titlu {
  width: 62.18px;
  height: 22.53px;
  left: 228px;
  top: 645px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.img-wrapper {
  width: 85px;
  height: 62px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
}

.menu div {
  margin-left: 20px;
  text-transform: uppercase;
}
.menu div a {
  color: #fff;
  text-decoration: none;
}
.menu .active {
  text-decoration-line: underline;
  opacity: 0.5;
}

.content-mijloc {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}

.telefon {
  width: 100%;
}
.telefon-figma {
  position: relative;
  width: 574px;
  right: -129px;
}

.tot-textul {
  width: 100%;
}
.meniu-mijloc {
  display: flex;
  gap: 62px;
  margin-bottom: 39px;
}
h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
.meniu-mijloc div {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.meniu-mijloc .active {
  /* padding si border pt linia rosie*/
  color: #fa3a10;
  padding: 0 20px 7px 0;
  border-bottom: 1px solid #fa3a10;
}
.parinte-jos {
  display: flex;
  gap: 60px;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  margin: 26px 65px 0 65px;
}

.parinte-jos .cifre {
  margin-bottom: 20px;
}

img {
  width: 100px;
}
.fata-rotund {
  width: 337px;
  margin-right: 431px;
}
.button {
  background: #fa3a10;
  border-radius: 8px;
  display: inline-block;
  line-height: 34px;
  padding: 0 22px;
  font-size: 13px;

  text-transform: uppercase;

  color: #ffffff;
}
.content-jos {
  width: 100%;
  margin-top: 350px;
  flex-direction: row;
  justify-content: space-between;
}
.dreptunghi-culcat {
  display: felx;
  width: 200px;
  background-color: red;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.parinte-dreptunghi {
  display: flex;
  width: 100%;
  max-width: 1160px;
  flex-direction: row;
  justify-content: space-between;
}
.patrate-s {
  background-color: red;
  width: 321px;
}
.aici-ma {
  font-weight: 900;
  font-size: 28px;
}
.patrate-m {
  background-image: url(/images/poza-fundal\ corp.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 359px;
}
.patrate-m .sb-btn {
  margin-top: 36px;
  margin-left: 42px;
}
.titlul {
  font-weight: 900;
  font-size: 18px;
  margin-top: 231px;
  margin-left: 42px;
}
.patrate-d .titlul {
  margin-right: 144px;
  margin-bottom: 410px;
}
.subtitlu-pe-poza {
  position: absolute;
}
.telefon-mail {
  margin-top: 78px;
  margin-left: 40px;
}
.telefon-mail div {
  margin-bottom: 4px;
}
.text-jos {
  width: 295px;
  margin-left: 42px;
  margin-top: 30px;
}

.poza-fundal-corp {
  position: relative;
  display: inline-block;
  width: 359px;
}
.patrate-d {
 position: relative;
  width: 324px;
 
}
.htitlu{
  font-weight: 900;
font-size: 18px;
margin-top:0px;
margin-top: 231px;

}
.patrate-d img{
  position:absolute;
  bottom: 0;
  width: 100%;
}
.social img {
  width: 30px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 295px;
  margin-left: 40px;
  margin-top: 64px;
  margin-bottom: 12px;
}
.footer-wrap{
  
  background-color: #181818;
}
.footer{
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  padding-top: 38px;
  padding-bottom: 87px;

}
.meniu-jos{
  display: flex;
  justify-content: space-between;

 width: 442px;
 text-align: center;
 flex-direction: row;
}
